.footer {
  padding: calc(60 * var(--width-multiplier)) 0;
  color: var(--color-white);
  background-color: #131C26;
  &__container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: calc(48 * var(--width-multiplier));
    @media (min-width: 1025px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: calc(64 * var(--width-multiplier));
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    &:nth-child(2) {
      @media (min-width: 1025px) {
        grid-column: span 2 / span 2;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    &:nth-child(3) {
      @media (min-width: 1025px) {
        grid-column: span 1 / span 1;
        align-items: flex-end;
        text-align: right;
      }
      @media (min-width: 768px) {
        grid-column: span 2 / span 2;
      }
      
    }
  }
  &__logo {
    height: calc(48 * var(--width-multiplier));
    margin-bottom: calc(24 * var(--width-multiplier));
    svg {
      width: auto;
      height: 100%;
      pointer-events: none;
    }
  }
  &__form {
    margin-top: calc(8 * var(--width-multiplier));
    input, textarea, select {
      color: var(--color-white);
    }
  }
  .form-label {
    color: var(--color-gray);
  }
  &__map {
    width: 100%;
    height: calc(320 * var(--width-multiplier));
    margin-bottom: calc(48 * var(--width-multiplier));
    border-radius: calc(16 * var(--width-multiplier));
    overflow: hidden;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  &__address {
    margin-top: auto;
    text-align: center;
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: calc(8 * var(--width-multiplier));
    margin-bottom: calc(48 * var(--width-multiplier));
    @media (min-width: 1025px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__link {
    display: inline-flex;
    align-items: center;
    padding: calc(10 * var(--width-multiplier)) calc(20 * var(--width-multiplier));
    border: 1px solid rgb(143 143 143);
    border-radius: 200px;
    text-align: center;
    transition: border-color 0.3s ease-out, color 0.3s ease-out;
    &:hover {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }
  }
  &__copy {
    margin-top: auto;
  }
}