@import "vars.scss";
@import "mixins.scss";

:root {
  --color-primary: #F15F31;
  --color-dark: #131c26;
  --color-white: #FFFFFF;
  --color-gray: #8F8F8F;
  --color-light-gray: #F7F7F7;
  --clr-dark-gray: #515151;
  --color-primary-light: #EEF9FF;
  --color-border: #e3e3e3;
  --color-dark-muted: rgba(19, 28, 38, 0.5);
  --width-base: 1920;
  --width-current: 100vw;
  --width-multiplier: calc(var(--width-current) / var(--width-base));
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

@media (max-width: 1024px) {
  :root {
    --width-base: 980;
    --width-current: 100vmin;
  }
}

@media (max-width: 767px) {
  :root {
    --width-base: 370;
    --width-current: 100vmin;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 140%;
  font-family: "Gilroy", sans-serif;
  color: var(--color-dark);
}

body {
  position: relative;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 140%;
  background: var(--color-light-gray);
  color: var(--color-dark);
  @media (max-width: 767px) {
    padding-bottom: calc(71 * var(--width-multiplier));
  }
}

body.menu-active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track {
  background: var(--color-primary);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    112.92deg,
    rgba(255, 255, 255, 0.36) 10.45%,
    rgba(255, 255, 255, 0.09) 88.73%
  );
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea,
select {
  width: 100%;
  padding: 0;
  border: 0;
  background-color: transparent;
  font: inherit;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: none;
}

textarea {
  resize: none;
  min-height: calc(100 * var(--width-multiplier));
}

input::-moz-placeholder,
select::-moz-placeholder {
  color: rgba(33, 32, 43, 0.4);
}

input::placeholder,
select::placeholder {
  color: rgba(33, 32, 43, 0.4);
}

input:focus,
select:focus {
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}