@import "vars.scss";
@import "mixins.scss";

:root {
  --color-primary: #F15F31;
  --color-dark: #131c26;
  --color-white: #FFFFFF;
  --color-gray: #8F8F8F;
  --color-light-gray: #F7F7F7;
  --clr-dark-gray: #515151;
  --color-primary-light: #EEF9FF;
  --color-border: #e3e3e3;
  --color-dark-muted: rgba(19, 28, 38, 0.5);
  --width-base: 1920;
  --width-current: 100vw;
  --width-multiplier: calc(var(--width-current) / var(--width-base));
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

@media (max-width: 1024px) {
  :root {
    --width-base: 980;
    --width-current: 100vmin;
  }
}

@media (max-width: 767px) {
  :root {
    --width-base: 370;
    --width-current: 100vmin;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 140%;
  font-family: "Gilroy", sans-serif;
  color: var(--color-dark);
}

body {
  position: relative;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 140%;
  background: var(--color-light-gray);
  color: var(--color-dark);
  @media (max-width: 767px) {
    padding-bottom: calc(71 * var(--width-multiplier));
  }
}

body.menu-active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track {
  background: var(--color-primary);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    112.92deg,
    rgba(255, 255, 255, 0.36) 10.45%,
    rgba(255, 255, 255, 0.09) 88.73%
  );
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea,
select {
  width: 100%;
  padding: 0;
  border: 0;
  background-color: transparent;
  font: inherit;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: none;
}

textarea {
  resize: none;
  min-height: calc(100 * var(--width-multiplier));
}

input::-moz-placeholder,
select::-moz-placeholder {
  color: rgba(33, 32, 43, 0.4);
}

input::placeholder,
select::placeholder {
  color: rgba(33, 32, 43, 0.4);
}

input:focus,
select:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--color-white) inset !important;
  box-shadow: 0 0 0 1000px var(--color-white) inset !important;
  -webkit-text-fill-color: var(--color-dark) !important;
  transition: background-color 9999s ease-in-out 0s;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox],
  input[type=radio] {
    --active: rgb(241, 95, 49);
    --active-inner: #fff;
    --focus: 2px rgba(241, 95, 49, .3);
    --border: #8F8F8F;
    --border-hover: #F15F31;
    --background: transparent;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: calc(16 * var(--width-multiplier));
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after,
  input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked,
  input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type=checkbox]:disabled,
  input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked,
  input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label,
  input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus,
  input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch),
  input[type=radio]:not(.switch) {
    width: calc(16 * var(--width-multiplier));
  }
  input[type=checkbox]:not(.switch):after,
  input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked,
  input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label,
  input[type=radio] + label {
    font-size: calc(16 * var(--width-multiplier));
    line-height: calc(22 * var(--width-multiplier));
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: calc(4 * var(--width-multiplier));
  }
  input[type=checkbox]:not(.switch) {
    border-radius: calc(4 * var(--width-multiplier));
  }
  input[type=checkbox]:not(.switch):after {
    width: calc(5 * var(--width-multiplier));
    height: calc(9 * var(--width-multiplier));
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: calc(5 * var(--width-multiplier));
    top: calc(1 * var(--width-multiplier));
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: calc(12 * var(--width-multiplier));
    height: calc(12 * var(--width-multiplier));
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: .5;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}