// COLORS VARS
$color-primary: #F15F31;
$color-dark: #131c26;
$color-white: #FFFFFF;
$color-gray: #8F8F8F;
$color-light-gray: #F7F7F7;
$clr-dark-gray: #515151;
$color-primary-light: #EEF9FF;
$color-border: #e3e3e3;
$color-dark-muted: rgba(19, 28, 38, 0.5);